<h1>User Detail Page</h1>

<h2><%= @user.email %></h2

<h3>Dishes Created</h3>

<ul>
  <% @user.restaurants.uniq.each do |restaurant| %>
  <li><%= restaurant.name %></li>
  <ul>
    <% restaurant.dishes.each do |dish| %>
        <li><%= dish.name %><br></li>
    <% end %>
  </ul>
  <% end %>
</ul>