<h1>All Restaurants</h1>

<input type="button" id="button" class="js-filter-created-by-user" value="See Restaurant Listings I've Created">
<br>
<br>
<input type="button" id="button" class="js-filter-places-eaten" value="See Places I've Eaten">
<br>
<br>
<input type="button" id="button" class="js-filter-all" value="See All Restaurants">
<br>
<br>
<hr>
<br>
Or, <input type="button" id="button" class="js-display-create-form" value="Create A New Restaurant">

<div class="js-restaurant-form">
</div>
<br>
<hr>
<div class="js-restaurant-index">
</div>

<%= javascript_include_tag 'restaurant' %>