<h1>Restaurants</h1>

<h3>Click restaurant name to view</h3>


<input type="button" class="js-display-create-form" value="New Restaurant">

<div class="js-restaurant-form">
</div>

<br>
<br>

<input type="button" class="js-get-restaurants" value="Show Restaurants">

<div class="js-restaurant-index">
</div>
