<h1>All Restaurants</h1>

<input type="button" id="button" class="js-display-create-form" value="Create New Restaurant">

<div class="js-restaurant-form">
</div>

<hr>
<div class="js-restaurant-index">
</div>

<%= javascript_include_tag 'restaurant' %>