<h1>Welcome to FoodView!</h1>
<h2><%= link_to "See JavaScript Demo", "/restaurants/demo" %></h2>

<% if user_signed_in? %>
  <h2>Who's Who?</h2>
  <%= render partial: "users/index", locals: { users: User.all } %>
<% end %>